body {
    background-color: rgb(240, 240, 240);
    font-family: Raleway, monospace;
    color: rgb(5, 5, 5);
    font-weight: bold;
}

header {
    text-align: left;
    height: 100px;
    display: inline-flex;
    border: 3px solid rgb(5, 5, 5);
    margin-left: 20%;

}

header h1 {
    height: 1em;
    margin: .9em .5em 0 .5em;
}

#logo {
    height: 100px;
}

#main {
    text-align: center;
    width: 60%;
    margin-top: 25px;
    margin-left: 20%;
    border:0 solid rgb(240,240,240);
}

#main h1 {
    text-align: left;
}

form {
    text-align: left;
    font-size: .9em;
    display: contents;
}

fieldset {
    border-top:2px solid rgb(240, 240, 240);
    border-right: 2px solid rgb(5, 5, 5);
    border-bottom:2px solid rgb(5, 5, 5);
    border-left: 2px solid rgb(5, 5, 5);
}

input[type=number] {
    font-family: monospace;
    text-align: right;
    background-color: rgb(240, 240, 240);
    color: rgb(5, 5, 5);
    border-top:2px solid rgb(5, 5, 5);
    border-right: 2px solid rgb(240, 240, 240);
    border-bottom:2px solid rgb(5, 5, 5);
    border-left: 2px solid rgb(240, 240, 240);
    width: 9em;
}

input[type=number]:hover {
    font-family: monospace;
    background-color: rgb(200, 200, 200);
    border-top:2px solid rgb(240, 240, 240);
    border-right: 2px solid rgb(5, 5, 5);
    border-bottom:2px solid rgb(240, 240, 240);
    border-left: 2px solid rgb(5, 5, 5);
}

select {
    background-color: rgb(240, 240, 240) ;
    color: rgb(5, 5, 5);
    border-top:2px solid rgb(5, 5, 5);
    border-right: 2px solid rgb(240, 240, 240);
    border-bottom:2px solid rgb(5, 5, 5);
    border-left: 2px solid rgb(240, 240, 240);
}

select:hover {
    background-color: rgb(200, 200, 200);
    border-top:2px solid rgb(240, 240, 240);
    border-right: 2px solid rgb(5, 5, 5);
    border-bottom:2px solid rgb(240, 240, 240);
    border-left: 2px solid rgb(5, 5, 5);
}

.error {
    color: red;
}

h3.error {
    text-align: center;
}


#submit {
    font-family: Raleway, monospace;
    font-weight: bold;
    background-color: rgb(240, 240, 240);
    color: rgb(5, 5, 5);
    border-top:2px solid rgb(5, 5, 5);
    border-right: 2px solid rgb(240, 240, 240);
    border-bottom:2px solid rgb(5, 5, 5);
    border-left: 2px solid rgb(240, 240, 240);
}

#submit:hover {
    background-color: rgb(200, 200, 200);
    border-top: 2px solid rgb(240, 240, 240);
    border-right:2px solid rgb(5, 5, 5);
    border-bottom: 2px solid rgb(240, 240, 240);
    border-left:2px solid rgb(5, 5, 5);
}

#results {
    background-color: rgb(240, 240, 240);
    color: rgb(5, 5, 5);
    border-top:2px solid rgb(5, 5, 5);
    border-right: 2px solid rgb(240, 240, 240);
    border-bottom:2px solid rgb(5, 5, 5);
    border-left: 2px solid rgb(240, 240, 240);
}
